/**
 * INNERFADE STYLES
*/

#InnerfadeContainer {
    width: 603px;
    position: relative;
    overflow: hidden;
}

#InnerfadeContainer #ifblock1,
#InnerfadeContainer #ifblock2,
#InnerfadeContainer #ifblock3 {
    display: none;
}

#InnerfadeContainer h1,
#InnerfadeContainer h2 {
    text-transform: none;
}

#InnerfadeContainer a:visited {
    border-bottom: 0px;
}

#InnerfadeContainer a,
#InnerfadeContainer a:hover,
#InnerfadeContainer a:visited {
    border-bottom: 0px !important;
    color: #fff !important;
    text-decoration: none;
}

#Innerfade {
    overflow: hidden;
}

#Innerfade .caption,
#Innerfade .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 68px;
    right: 0;
}

#Innerfade .overlay {
    display: block;
    margin: 0;
    background: #000;
    opacity: 0.6;
    filter:alpha(opacity=60);
}

#Innerfade .caption p,
#Innerfade .caption h2 {
    color: #fff;
    opacity: 1;
    margin: 0;
}


#Innerfade .caption h2 {
    padding-left: 10px;
}

#Innerfade .title {
    float: left;
    margin: 10px 12px 5px 0px;
}

#Innerfade h2 {
    float: left;
    background-color: transparent;
    font: bold 16px/16px Arial,Helvetica;
    padding-right: 7px;
}

#Innerfade .caption p {
    clear: both;
    margin: 0 12px;
    font: normal 11px/14px Arial, Helvetica;
}

#Innerfade .innerfade-button {
    float: left;
    height: 17px;
    background-image: url(++resource++collective.js.innerfade.images/button_middle_2x20.png);
    background-repeat: repeat-x;
    background-color: #008515;
    font: normal 9px/19px Arial, Helvetica;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius: 2px;
}

#Innerfade .innerfade-button:hover {
    background-color: #b1b1b1;
    -moz-border-radius: 2px;
}

#InnerfadeNavigation {
    z-index: 4;
    position: absolute;
    right: 0;
    top: 0;
}

#InnerfadeNavigation .imgnolink,
#InnerfadeNavigation a {
    display: block;
    margin-bottom: 1px;
    padding-left: 8px;
}

#InnerfadeNavigation .imgnolink:hover,
#InnerfadeNavigation a:hover,
#InnerfadeNavigation .active {
    background: url(++resource++collective.js.innerfade.images/arrow_8x69.png) no-repeat;
}

#InnerfadeNavigation img {
    border: solid #fff;
    border-width: 0 0 0 1px;
}

/* PLONE GENERAL */

#content-core {
    overflow: hidden;
}